*{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
}

.body {
    display: flex;
    flex-direction: column;
    width: 98vw;
    height: 100vh;
    margin: 5px 5px 5px 10px;
    /* overflow-x: hidden; */
    
}

.header-1 {
    background-color: rgb(75, 255, 59);
    width: 15%;
    height: 8rem;
    margin: 5px 5px 5px 0px;
    text-align: center;
    align-content: center;
    color: black;
    font-weight: bold;
}

.header-2 {
    background-color: grey;
    height: 8rem;
    width: 100%;
    margin: 5px 10px 5px 0px;
    text-align: center;
    align-content: center;
    font-weight: bold;
}

.division {
    display: flex;
    flex-direction: column;
    margin: 5px 10px 5px 0px;
    border: 2px solid black;
    text-align: center;
    align-content: center;
    font-weight: bold;
}

.divBox-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 5px 10px 5px 0px;
}

.divBox-4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 5px 10px 5px 0px;
}

.body-1 {
    height: 100%;
    width: 20%;
    background-color: violet;
    margin: 5px 5px 5px 0px;
    text-align: center;
    align-content: center;
    font-weight: bold;
    }

.divBox-2 {
        display: flex;
        flex-direction: row;
        height: 24rem;
        width: 100%;
        margin: 0px 0px 5px 0px;
}

.divBox-3 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 5px 10px 0px 0px;
}

.body-2 {
    height: 100%;
    width: 50%;
    background-color: skyblue;
    margin: 0px 5px 0px 0px;
    text-align: center;
    align-content: center;
    font-weight: bold;
}

.body-3 {
    height: 100%;
    width: 50%;
    background-color: pink;
    margin: 0px 0px 5px 5px;
    text-align: center;
    align-content: center;
    font-weight: bold;
    }

.body-4 {
    height: 100%;
    width: 100%;
    background-color: yellow;
    margin: 5px 10px 0px 0px;
    text-align: center;
    align-content: center;
    font-weight: bold;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: skyblue;
    height: 100%;
    margin: 10px 10px 5px 0px;
    text-align: center;
    align-content: center;
    font-weight: bold;
    border: 3px dashed black;
}