footer {
    display: flex;
    flex-direction: row;
    background-color: gainsboro;
    border-top: 10px solid #7f72b3;
    width: 100%;
    height: 300px;
    display: flex;
    margin-top: 3rem;
}