@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto+Slab&display=swap");
* {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.head {
  background-color: white;
  width: 100%;
  height: 140px;
  border-bottom: 8px solid gainsboro;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.head .home {
  width: 98vw;
  height: 15vh;
}
.head .navBar {
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 6rem;
}
.head .navBar .logo {
  display: flex;
  cursor: pointer;
  background-image: url(../img/LOGO\ 2.PNG);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 30px;
  border-top: 0.5px solid transparent;
  border-left: 0.5px solid transparent;
  border-bottom: 4px solid #7f72b3;
  border-right: 4px solid #7f72b3;
  border-radius: 5px;
  padding: 10px 5px 10px 5px;
  margin-right: 5px;
  margin-left: 20px;
}
.head .navBar .logo:hover {
  display: flex;
  transition: 0.3s;
  cursor: pointer;
  background-image: url(../img/LOGO\ 3.PNG);
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 30px;
  border-top: 0.5px solid #36D1DC;
  border-left: 0.5px solid #36D1DC;
  border-bottom: 4px solid #36D1DC;
  border-right: 4px solid #36D1DC;
  border-radius: 5px;
  padding: 10px 5px 10px 5px;
}
.head .navBar .unList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  margin-left: 30px;
  margin-right: 75px;
  gap: 5px;
  width: auto;
  gap: 65px;
  height: 6rem;
}
.head .navBar .unList .pagesLinks {
  text-decoration: none;
  color: #7f72b3;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.head .navBar .unList .pagesLinks:hover {
  text-decoration: none;
  transition: 0.5s;
  color: #36D1DC;
  font-size: 16px;
}
.head .navBar .search {
  display: flex;
  align-items: center;
  margin-left: 100px;
  width: 300px;
  height: 200px;
}
.head .navBar .search .emoji {
  background-color: white;
  border: 3px solid gainsboro;
  border-radius: 8px 0px 0px 8px;
  border-right: none;
  width: 22px;
  height: 26px;
  margin-top: 3px;
}
.head .navBar .search .searching {
  width: 200px;
  height: 32px;
  border-radius: 0px 8px 8px 0px;
  border: 3px solid gainsboro;
  border-left: none;
  padding: 10px;
  margin-top: 3px;
  margin-right: 50px;
}
.head .navBar .singIn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 8px;
  margin: 10px;
  margin-left: 0px;
}
.head .navBar .singIn .user {
  background-color: #7f72b3;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-size: 25px;
  border-radius: 5px;
}
.head .navBar .singIn .user:hover {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-size: 35px;
  border-radius: 5px;
  transition: 0.4s;
}
.head .navBar .boxCart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 8px;
  margin: 10px;
  margin-left: 0px;
}
.head .navBar .boxCart .shoppingCart {
  background-color: #7f72b3;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-size: 25px;
  border-radius: 5px;
  transition: 0.4s;
}
.head .navBar .boxCart .shoppingCart:hover {
  font-size: 35px;
  transition: 0.3s;
  background-color: transparent;
  border-radius: 7px;
}

.gridProducts {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  row-gap: 160px;
  margin-top: 30px;
  height: auto;
}
.gridProducts .newOffers {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 700px;
  background-color: white;
  border: 2px solid #7f72b3;
  margin: 22px;
  overflow-y: scroll;
}
.gridProducts .newOffers .specialOffer {
  background-color: #7f72b3;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  cursor: crosshair;
}
.gridProducts .newOffers .miniCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: auto;
  background-color: gainsboro;
  border: 2px solid #7f72b3;
  border-radius: 10px;
  margin: 10px;
}
.gridProducts .newOffers .miniCard .titleProductOffer {
  color: #000000;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}
.gridProducts .newOffers .miniCard .titleProductOffer:hover {
  color: #7f72b3;
  transition: 0.3s;
}
.gridProducts .newOffers .miniCard .imgProduct {
  width: 75%;
  height: 55%;
  background-color: white;
  margin: 10px;
}
.gridProducts .newOffers .miniCard .newOffer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.gridProducts .newOffers .miniCard .newOffer .priceOffer {
  display: inline;
  width: auto;
  margin-left: 15px;
  color: rgb(24, 133, 24);
}
.gridProducts .newOffers .miniCard .newOffer .oldPrice {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
  width: auto;
  text-decoration: line-through;
}
.gridProducts .newOffers .miniCard .newOffer .discount {
  display: inline;
  width: auto;
  margin-right: 15px;
  color: red;
  text-transform: uppercase;
  cursor: grab;
}
.gridProducts .newOffers .miniCard .product-card,
.gridProducts .newOffers .miniCard .buy-button {
  padding: 10px 20px;
  background-color: #36D1DC;
  color: white;
  border: none;
  border-radius: 0px 0px 7px 7px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.gridProducts .newOffers .miniCard .quantity-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.gridProducts .newOffers .miniCard .quantity-controls button {
  background-color: #7f72b3;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}
.gridProducts .newOffers .miniCard .quantity-controls span {
  background-color: white;
  align-content: center;
  text-align: center;
  padding: 4px 0px 3px 0px;
}

.principalProducts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  width: 950px;
  height: auto;
}
.principalProducts .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 250px;
  background-color: gainsboro;
  border: 2px solid #7f72b3;
  border-radius: 10px;
}
.principalProducts .card .titleProduct {
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  height: 40%;
  font-family: "Open Sans", sans-serif;
}
.principalProducts .card .titleProduct:hover {
  cursor: pointer;
  color: #7f72b3;
  transition: 0.3s;
}
.principalProducts .card .imgProduct {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
  background-color: white;
}
.principalProducts .card .descriptionProduct {
  text-align: center;
  font-size: 10px;
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 20px;
  height: 100px;
  font-family: "Roboto Slab", serif;
}
.principalProducts .card .price {
  text-align: start;
  padding: 30px 1px 30px 20px;
  height: auto;
}
.principalProducts .card .viewMore {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: lighter;
  height: auto;
  padding-bottom: 10px;
}
.principalProducts .card .viewMore .viewMore2 {
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: lighter;
  color: #000000;
}
.principalProducts .card .viewMore .viewMore2:hover {
  background-color: transparent;
  cursor: pointer;
  font-weight: lighter;
  color: #7f72b3;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: gainsboro;
  border-top: 10px solid #7f72b3;
  width: 100%;
  height: 300px;
  display: flex;
  margin-top: 3rem;
}
footer .sect-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-right: 2px solid rgb(170, 170, 170);
  margin-top: 15px;
  margin-bottom: 15px;
  height: auto;
  font-family: "Open Sans", sans-serif;
}
footer .sect-1 .EiTitle {
  font-size: 20px;
  margin-top: 10px;
}
footer .sect-1 .listEi {
  list-style: none;
}
footer .sect-1 .listEi .divList {
  width: auto;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
footer .sect-1 .listEi .divList .linkFooter {
  color: black;
  text-decoration: none;
}
footer .sect-1 .listEi .divList .linkFooter:hover {
  color: #7f72b3;
  transition: 0.3s;
}
footer .sect-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  height: auto;
  font-family: "Open Sans", sans-serif;
}
footer .sect-2 .helpTitle {
  font-size: 20px;
  margin-top: 10px;
}
footer .sect-2 .helpList {
  list-style: none;
}
footer .sect-2 .helpList .divList {
  width: auto;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
footer .sect-2 .helpList .divList .linkFooter {
  color: black;
  text-decoration: none;
}
footer .sect-2 .helpList .divList .linkFooter:hover {
  color: #7f72b3;
  transition: 0.3s;
}
footer .sect-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-left: 2px solid rgb(170, 170, 170);
  margin-top: 15px;
  margin-bottom: 15px;
  height: auto;
  font-family: "Open Sans", sans-serif;
}
footer .sect-3 .evenTitle {
  font-size: 20px;
  margin-top: 10px;
}
footer .sect-3 .eventList {
  list-style: none;
}
footer .sect-3 .eventList .divList {
  width: auto;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
footer .sect-3 .eventList .divList .linkFooter {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
footer .sect-3 .eventList .divList .linkFooter:hover {
  color: #7f72b3;
  transition: 0.3s;
}

.fakeFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  cursor: pointer;
  background-color: gainsboro;
  border-top: 2px solid #7f72b3;
  font-family: "Open Sans", sans-serif;
}
.fakeFooter:hover {
  color: #7f72b3;
  transition: 0.3s;
}

body {
  overflow-x: hidden;
}

.specialOffer {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  cursor: crosshair;
  height: auto;
  margin-top: 20px;
}

.offerProducts {
  display: block;
  justify-content: center;
  row-gap: 160px;
  margin-top: 30px;
  height: auto;
}
.offerProducts .newTotalOffers {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-end: auto;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  width: auto;
  height: auto;
}
.offerProducts .newTotalOffers .miniCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: auto;
  background-color: gainsboro;
  border: 2px solid #7f72b3;
  border-radius: 10px;
}
.offerProducts .newTotalOffers .miniCard .titleProductOffer {
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  height: 40%;
  font-family: "Open Sans", sans-serif;
}
.offerProducts .newTotalOffers .miniCard .titleProductOffer:hover {
  cursor: pointer;
  color: #7f72b3;
  transition: 0.3s;
}
.offerProducts .newTotalOffers .miniCard .imgProduct {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
  background-color: white;
}
.offerProducts .newTotalOffers .miniCard .newOffer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.offerProducts .newTotalOffers .miniCard .newOffer .priceOffer {
  display: inline;
  width: auto;
  margin-left: 15px;
  color: rgb(24, 133, 24);
}
.offerProducts .newTotalOffers .miniCard .newOffer .oldPrice {
  display: inline;
  margin-left: 15px;
  width: auto;
  text-decoration: line-through;
}
.offerProducts .newTotalOffers .miniCard .newOffer .discount {
  display: inline;
  width: auto;
  margin-right: 15px;
  color: red;
  text-transform: uppercase;
  cursor: grab;
}
.offerProducts .newTotalOffers .miniCard .product-card, .offerProducts .newTotalOffers .miniCard .buy-button {
  padding: 10px 20px;
  background-color: #36D1DC;
  color: white;
  border: none;
  border-radius: 0px 0px 7px 7px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: auto;
}
.offerProducts .newTotalOffers .miniCard .quantity-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: auto;
}
.offerProducts .newTotalOffers .miniCard .quantity-controls button {
  background-color: #7f72b3;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}
.offerProducts .newTotalOffers .miniCard .quantity-controls span {
  background-color: transparent;
  align-content: center;
}
.offerProducts .newTotalOffers .miniCard .price {
  text-align: start;
  padding: 30px 1px 30px 20px;
  height: auto;
}

body {
  overflow-x: hidden;
}

.titleAccesories {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  cursor: crosshair;
  height: auto;
  margin-top: 20px;
}

.accesoriesProducts {
  display: block;
  justify-content: center;
  row-gap: 160px;
  margin-top: 30px;
  height: auto;
}
.accesoriesProducts .accesories {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-end: auto;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  width: auto;
  height: auto;
}
.accesoriesProducts .accesories .cardAccesories {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: auto;
  background-color: gainsboro;
  border: 2px solid #7f72b3;
  border-radius: 10px;
}
.accesoriesProducts .accesories .cardAccesories .titleAccesories {
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  height: 40%;
  font-family: "Open Sans", sans-serif;
}
.accesoriesProducts .accesories .cardAccesories .titleAccesories:hover {
  cursor: pointer;
  color: #7f72b3;
  transition: 0.3s;
}
.accesoriesProducts .accesories .cardAccesories .imgProduct {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
  background-color: white;
}
.accesoriesProducts .accesories .cardAccesories .descriptionProduct {
  text-align: center;
  font-size: 10px;
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 20px;
  height: 100px;
  font-family: "Roboto Slab", serif;
}
.accesoriesProducts .accesories .cardAccesories .price {
  text-align: start;
  padding: 30px 1px 30px 20px;
  height: auto;
}
.accesoriesProducts .accesories .cardAccesories .product-card,
.accesoriesProducts .accesories .cardAccesories .buy-button {
  padding: 10px 20px;
  background-color: #36D1DC;
  color: white;
  border: none;
  border-radius: 0px 0px 7px 7px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: auto;
}
.accesoriesProducts .accesories .cardAccesories .quantity-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: auto;
}
.accesoriesProducts .accesories .cardAccesories .quantity-controls button {
  background-color: #7f72b3;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}
.accesoriesProducts .accesories .cardAccesories .quantity-controls span {
  background-color: white;
  align-content: center;
  text-align: center;
}

/* SOPORTE */
.sectionSoporte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  background-color: white;
  padding: 15px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: gainsboro;
  margin: 15px;
  text-align: center;
  contain: content;
  border-radius: 5px;
}

.contacto {
  font-size: 30px;
  padding: 10px;
  margin: 10px;
}

.area {
  width: 95%;
  background-color: rgb(218, 218, 218);
  border: 1px solid black;
  border-radius: 3px;
  margin: 20px;
  padding: 5px;
  font-size: 20px;
  display: block;
  font-weight: bold;
}

.indicadores {
  color: #7f72b3;
  text-decoration: underline;
  text-align: start;
  margin-left: 20px;
  text-transform: uppercase;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
}

.papel {
  width: 95%;
  height: 2000px;
  display: block;
  margin: 20px;
  padding: 5px;
  background-color: rgb(218, 218, 218);
  border: 1px black dotted;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

.botones {
  width: 250px;
  height: 35px;
  margin: 25px;
  background-color: #7f72b3;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.botones:hover {
  width: 250px;
  height: 35px;
  margin: 25px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.subRes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-content: center;
}

.soporte {
  background-color: black;
  color: white;
  padding: 30px;
  margin-top: 5px;
  width: auto;
  height: auto;
}

.hSoporte {
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
  height: auto;
  font-family: "Open Sans", sans-serif;
}

.texto {
  text-align: center;
  padding: 5px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.mapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
}
.mapa iframe {
  margin: none;
  width: 90%;
  height: 75%;
}/*# sourceMappingURL=style.css.map */