@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto+Slab&display=swap");
* {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.head {
  background-color: white;
  width: 100%;
  height: 140px;
  border-bottom: 8px solid gainsboro;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.head .home {
  width: 98vw;
  height: 15vh;
}
.head .navBar {
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 6rem;
}
.head .navBar .logo {
  display: flex;
  cursor: pointer;
  background-image: url(../img/LOGO\ 2.PNG);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 30px;
  border-top: 0.5px solid transparent;
  border-left: 0.5px solid transparent;
  border-bottom: 4px solid #7f72b3;
  border-right: 4px solid #7f72b3;
  border-radius: 5px;
  padding: 10px 5px 10px 5px;
  margin-right: 5px;
  margin-left: 20px;
}
.head .navBar .logo:hover {
  display: flex;
  transition: 0.3s;
  cursor: pointer;
  background-image: url(../img/LOGO\ 3.PNG);
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 30px;
  border-top: 0.5px solid #36D1DC;
  border-left: 0.5px solid #36D1DC;
  border-bottom: 4px solid #36D1DC;
  border-right: 4px solid #36D1DC;
  border-radius: 5px;
  padding: 10px 5px 10px 5px;
}
.head .navBar .unList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 75px;
  align-items: center;
  margin-left: 30px;
  gap: 5px;
  width: auto;
  gap: 65px;
  height: 6rem;
}
.head .navBar .unList .pagesLinks {
  text-decoration: none;
  color: #7f72b3;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}
.head .navBar .unList .pagesLinks:hover {
  text-decoration: none;
  transition: 0.5s;
  color: #36D1DC;
  font-size: 17px;
}
.head .navBar .search {
  display: flex;
  align-items: center;
  margin-left: 100px;
  width: 300px;
  height: 200px;
}
.head .navBar .search .emoji {
  background-color: white;
  border: 3px solid gainsboro;
  border-radius: 8px 0px 0px 8px;
  border-right: none;
  width: 22px;
  height: 26px;
  margin-top: 3px;
}
.head .navBar .search .searching {
  width: 200px;
  height: 32px;
  border-radius: 0px 8px 8px 0px;
  border: 3px solid gainsboro;
  border-left: none;
  padding: 10px;
  margin-top: 3px;
  margin-right: 50px;
}
.head .navBar .singIn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 8px;
  margin: 10px;
  margin-left: 0px;
}
.head .navBar .singIn .user {
  background-color: #7f72b3;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-size: 25px;
  border-radius: 5px;
}
.head .navBar .singIn .user:hover {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-size: 35px;
  border-radius: 5px;
  transition: 0.4s;
}
.head .navBar .boxCart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 8px;
  margin: 10px;
  margin-left: 0px;
}
.head .navBar .boxCart .shoppingCart {
  background-color: #7f72b3;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-size: 25px;
  border-radius: 5px;
  transition: 0.4s;
}
.head .navBar .boxCart .shoppingCart:hover {
  font-size: 35px;
  transition: 0.3s;
  background-color: transparent;
  border-radius: 7px;
}

.gridProducts {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  row-gap: 160px;
  margin-top: 30px;
  height: auto;
}
.gridProducts .newOffers {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 700px;
  background-color: white;
  border: 2px solid #7f72b3;
  margin: 22px;
  overflow-y: scroll;
}
.gridProducts .newOffers .miniCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 250px;
  background-color: gainsboro;
  border: 2px solid #7f72b3;
  border-radius: 10px;
  margin: 10px;
}
.gridProducts .newOffers .miniCard .titleProductOffer {
  color: #000000;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}
.gridProducts .newOffers .miniCard .titleProductOffer:hover {
  color: #7f72b3;
  transition: 0.3s;
}
.gridProducts .newOffers .miniCard .imgProduct {
  width: 75%;
  height: 55%;
  background-color: white;
  margin: 10px;
}
.gridProducts .newOffers .miniCard .priceOffer {
  display: inline;
  width: auto;
  margin-left: 15px;
  color: rgb(24, 133, 24);
}
.gridProducts .newOffers .miniCard .discount {
  display: inline;
  width: auto;
  margin-left: 20px;
  color: red;
  text-transform: uppercase;
  cursor: grab;
}
.gridProducts .newOffers .miniCard .oldPrice {
  display: block;
  margin-left: 30px;
  text-decoration: line-through;
}
.gridProducts .principalProducts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  width: 950px;
  height: auto;
}
.gridProducts .principalProducts .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 250px;
  background-color: gainsboro;
  border: 2px solid #7f72b3;
  border-radius: 10px;
}
.gridProducts .principalProducts .card .titleProduct {
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  height: 40%;
  font-family: "Open Sans", sans-serif;
}
.gridProducts .principalProducts .card .titleProduct:hover {
  cursor: pointer;
  color: #7f72b3;
  transition: 0.3s;
}
.gridProducts .principalProducts .card .imgProduct {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
  background-color: white;
}
.gridProducts .principalProducts .card .descriptionProduct {
  text-align: center;
  font-size: 10px;
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 20px;
  height: 100px;
  font-family: "Roboto Slab", serif;
}
.gridProducts .principalProducts .card .price {
  text-align: start;
  padding: 30px 1px 30px 20px;
  height: auto;
}
.gridProducts .principalProducts .card .viewMore {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: lighter;
  height: auto;
  padding-bottom: 10px;
}
.gridProducts .principalProducts .card .viewMore .viewMore2 {
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: lighter;
  color: #000000;
}
.gridProducts .principalProducts .card .viewMore .viewMore2:hover {
  background-color: transparent;
  cursor: pointer;
  font-weight: lighter;
  color: #7f72b3;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: gainsboro;
  border-top: 10px solid #7f72b3;
  width: 100%;
  height: 300px;
  display: flex;
  margin-top: 3rem;
}/*# sourceMappingURL=style.css.map */