body {
    overflow-x: hidden;
}

.titleAccesories {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    cursor: crosshair;
    height: auto;
    margin-top: 20px;
}

.accesoriesProducts {
    display: block;
    justify-content: center;
    row-gap: 160px;
    margin-top: 30px;
    height: auto;


    .accesories {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-end: auto;
        gap: 50px;
        flex-wrap: wrap;
        justify-content: center;
        background-color: white;
        width: auto;
        height: auto;


            .cardAccesories {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 10px;
                width: auto;
                background-color: gainsboro;
                border: 2px solid #7f72b3;
                border-radius: 10px;

                .titleAccesories {
                    align-items: center;
                    text-transform: uppercase;
                    text-align: center;
                    height: 40%;
                    font-family: "Open Sans", sans-serif;

                    &:hover {
                        cursor: pointer;
                        color: #7f72b3;
                        transition: 0.3s;
                    }
                }

                .imgProduct {
                    object-fit: contain;
                    height: 100%;
                    width: 100%;
                    background-color: white;
                }

                .descriptionProduct {
                    text-align: center;
                    font-size: 10px;
                    overflow: scroll;
                    overflow-x: hidden;
                    margin-top: 20px;
                    height: 100px;
                    font-family: "Roboto Slab", serif;
                    ;
                }

                .price {
                    text-align: start;
                    padding: 30px 1px 30px 20px;
                    height: auto;
                }

                
            .product-card,
            .buy-button {
                padding: 10px 20px;
                background-color: #36D1DC;
                color: white;
                border: none;
                border-radius: 0px 0px 7px 7px;
                cursor: pointer;
                transition: background-color 0.3s;
                height: auto;
            }

            .quantity-controls {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
                height: auto;
            }

            .quantity-controls button {
                background-color: #7f72b3;
                border: none;
                color: white;
                padding: 5px 10px;
                cursor: pointer;
            }

            .quantity-controls span {
                background-color: white;
                align-content: center;
                text-align: center;
            }


            }
        }
    }
