.head {
    background-color: white;
    width: 100%;
    height: 140px;
    border-bottom: 8px solid gainsboro;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    //! NAVBAR

    .home {
        width: 98vw;
        height: 15vh;
    }
    

    .navBar {
        display: flex;
        justify-content: start;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 6rem;

        //! BUTTON "Electronic-iN" HOME
        .logo {
            display: flex;
            cursor: pointer;
            background-image: url(../img/LOGO\ 2.PNG);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 300px;
            height: 30px;
            border-top: 0.5px solid transparent;
            border-left: 0.5px solid transparent;
            border-bottom: 4px solid #7f72b3;
            border-right: 4px solid #7f72b3;
            border-radius: 5px;
            padding: 10px 5px 10px 5px;
            margin-right: 5px;
            margin-left: 20px;
        }

        .logo:hover {
            display: flex;
            transition: 0.3s;
            cursor: pointer;
            background-image: url(../img/LOGO\ 3.PNG);
            background-size: contain;
            background-repeat: no-repeat;
            width: 300px;
            height: 30px;
            border-top: 0.5px solid #36D1DC;
            border-left: 0.5px solid #36D1DC;
            border-bottom: 4px solid #36D1DC;
            border-right: 4px solid #36D1DC;
            border-radius: 5px;
            padding: 10px 5px 10px 5px;
        }

        .unList {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 75px;
            margin-left: 30px;
            margin-right: 75px;
            gap: 5px;
            width: auto;
            gap: 65px;
            height: 6rem;
            .pagesLinks {
                text-decoration: none;
                color: #7f72b3;
                font-family: "Open Sans", sans-serif;
                font-size: 16px;
            }

            .pagesLinks:hover {
                text-decoration: none;
                transition: 0.5s;
                color: #36D1DC;
                font-size: 16px;
            }
        }

        //! Searching bar
        .search {
            display: flex;
            align-items: center;
            margin-left: 100px;
            width: 300px;
            height: 200px;

            .emoji {
                background-color: white;
                border: 3px solid gainsboro;
                border-radius: 8px 0px 0px 8px;
                border-right: none;
                width: 22px;
                height: 26px;
                margin-top: 3px;
            }

            .searching {
                width: 200px;
                height: 32px;
                border-radius: 0px 8px 8px 0px;
                border: 3px solid gainsboro;
                border-left: none;
                padding: 10px;
                margin-top: 3px;
                margin-right: 50px;
            }
        }

        //!USER COUNT 

        .singIn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 70px;
            border-radius: 8px;
            margin: 10px;
            margin-left: 0px;
            .user {
                background-color: #7f72b3;
                width: 40px;
                height: 40px;
                border: none;
                cursor: pointer;
                font-size: 25px;
                border-radius: 5px;
            }

            .user:hover {
                background-color: transparent;
                width: 40px;
                height: 40px;
                border: none;
                cursor: pointer;
                font-size: 35px;
                border-radius: 5px;
                transition: 0.4s;
            }
        }

        //! SHOPPING-CART

        .boxCart {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 70px;
            border-radius: 8px;
            margin: 10px;
            margin-left: 0px;
            

            .shoppingCart {
                background-color: #7f72b3;
                width: 40px;
                height: 40px;
                border: none;
                cursor: pointer;
                font-size: 25px;
                border-radius: 5px;
                transition: 0.4s;
            }

            
            .shoppingCart:hover {
                font-size: 35px;
                transition: 0.3s;
                background-color: transparent;
                border-radius: 7px;
            }
        }
    }

}